@import url('https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

// @import 'variables';
@import '_variables.scss';
@import '_catalyst.scss';

body {
  background-color: $contrast;
  font-family: $font-family;
  color: $white;
}

header {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: column nowrap;
  gap: 1rem;
  max-width: $page-max-width;
  margin: 0 auto;
  padding-top: 9rem;

  @media (max-width: $breakpoint-small) {
    padding-top: 6rem;
  }

  h1 {
    font-family: $font-family-headings;
    color: white;
    margin: 0;

    @media (max-width: $breakpoint-small) {
      font-size: 2.1rem;
    }
  }

  p {
    font-size: 1.5rem;
    font-weight: $font-bold;
    line-height: 1.4;

    @media (max-width: $breakpoint-small) {
      font-size: 1.2rem;
    }
  }

  pre {
    position: relative;
    bottom: -1.5rem;
  }
}

// nav {
//   color: $white;
//   transition: all 0.4s ease;

//   &.header-scrolled {
//     background-color: rgba(white, 0.05);
//     backdrop-filter: blur(16px);
//   }

//   .logo {
//     transition: all 0.3s ease;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     flex-flow: row nowrap;
//     gap: 1rem;
//     position: relative;
//     top: 0.3rem;
//     left: -1rem;
//     max-width: 100px;
//     background-color: $white;
//     padding: 2rem 0.5rem 1rem 0.5rem;
//     box-shadow: $box-shadow;
//     font-size: 0;

//     &:hover {
//       transform: translateY(0.5rem);
//     }

//     @media (max-width: $breakpoint-small) {
//       max-width: 80px;
//       top: -0.2rem;
//       left: -0.9rem;
//     }
//   }

//   .nav-container {
//     max-width: $page-max-width;
//     width: 100%;
//     margin: 0 auto;
//     position: relative;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     flex-flow: row nowrap;
//     gap: 1rem;
//   }
// }

nav {
  height: $nav-height;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 2rem;

  @media (max-width: $breakpoint-small) {
    padding: 0 1rem;
  }

  &.header-scrolled {
    background-color: rgba(white, 0.05);
    backdrop-filter: blur(16px);
  }

  .nav-container {
    position: relative;
    max-width: $page-max-width;
    margin: 0 auto;
    height: 100%;

    label {
      position: relative;
      z-index: 999;

      .material-symbols-outlined {
        height: 40px;
        width: 40px;
        font-size: 40px;
        display: block;
        cursor: pointer;

        @media (min-width: $breakpoint-small) {
          display: none;
        }
      }
    }

    input[type='checkbox'] {
      display: none;

      &:checked {
        & ~ .menu {
          right: -1rem;
        }

        & ~ .menu-overlay {
          display: block;
        }
      }
    }

    .menu-overlay {
      display: block;
      background-color: rgba(black, 0.6);
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      height: 100vh;
      z-index: 1;
      display: none;
    }

    .logo {
      background-color: $white;
      position: absolute;
      left: 0;
      top: -0.5rem;
      width: 100px;
      padding: 1.5rem 0.5rem 1rem 0.5rem;

      @media (max-width: $breakpoint-small) {
        width: 80px;
      }
    }

    .nav-menu {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-flow: row nowrap;
      gap: 1rem;

      .menu {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: row nowrap;
        gap: 1rem;

        a {
          color: $white;
        }

        @media (max-width: $breakpoint-small) {
          flex-flow: column nowrap;
          justify-content: flex-start;
          align-items: flex-start;
          transition: right 0.5s $cubic-bezier-ease-out;
          position: absolute;
          right: -300px;
          top: 0;
          height: 100vh;
          width: 280px;
          background-color: $contrast;
          padding-top: $nav-height;
          padding: 1rem;
          z-index: 1;
          padding-top: 4rem;
        }
      }
    }
  }
}

h1,
h2,
h3,
h4 {
  font-weight: 300;
}

pre {
  position: relative;
  text-transform: uppercase;
  font-size: $font-size-small;
  color: $primary;
  margin: 0;
  letter-spacing: 0.08rem;
  padding-left: 3rem;

  &::after {
    content: '';
    height: 1px;
    background-color: $primary;
    width: 2rem;
    position: absolute;
    top: 0.6rem;
    left: 0;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: row nowrap;
    padding: 0 0;
    font-weight: $font-regular;
    color: rgba(white, 0.6);
    font-size: 0.9rem;
    gap: 0.25rem;

    .material-symbols-outlined {
      font-size: 16px;
      width: 16px;
      padding-top: 0.4rem;
    }
  }
}

footer {
  background-color: darken($contrast, 3%);
  margin: 0 -2rem;
  width: calc(100% + 4rem);

  .footer-content {
    max-width: $page-max-width;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row nowrap;
    gap: 1rem;
    color: rgba(white, 0.2);
    font-size: 0.8rem;
    padding: 1rem 0;

    @media (max-width: $breakpoint-small) {
      flex-flow: column nowrap;
      text-align: center;
    }
  }
}

section {
  .section-image {
    min-width: 280px;

    @media (max-width: $breakpoint-small) {
      min-width: 100%;
    }
  }

  &.cta {
    padding: 12rem 0;
    background: $contrast url('/assets/images/background-texture-leafs.jpg')
      no-repeat;
    margin: 5rem -2rem 0 -2rem;
    width: calc(100% + 4rem);

    @media (max-width: $breakpoint-small) {
      width: calc(100% + 2rem);
      padding: 1rem 0;
      margin: 0 -1rem;
    }

    .section-content {
      text-align: center;
      backdrop-filter: blur(16px);
      background-color: rgba(white, 0.05);
      padding: 4rem;
      max-width: 60%;

      @media (max-width: $breakpoint-small) {
        padding: 1rem;
        max-width: calc(100% - 2rem);
      }
    }
  }
}

.section-content {
  &.white {
    position: relative;
    background-color: rgba(white, 0.1);
    color: $white;
    backdrop-filter: blur(16px);
  }
}

a.blur-box {
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    background-color: rgba(white, 0.2);
  }
}

.blur-box {
  background-color: rgba(white, 0.1);
  backdrop-filter: blur(8px);
  padding: 2rem;
  color: $white;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-flow: column nowrap;
  gap: 1rem;

  @media (max-width: $breakpoint-small) {
    padding: 1rem;
  }

  .material-symbols-outlined {
    font-size: 48px;
    color: $secondary;
    margin-bottom: 1rem;
    display: inline-block;
  }

  p {
    color: rgba(white, 0.6);
    line-height: 1.5;
  }

  .fake-button {
    width: 100%;
    display: block;
    padding: 1rem 0 0 0;
    margin-top: 1rem;
    border-top: $line;
  }
}

.packages {
  margin-top: 4rem;

  .package {
    border-right: $line;
    display: flex;
    align-items: space-between;
    justify-content: space-between;
    flex-flow: column nowrap;
    gap: 1rem;
    padding-right: 1rem;

    @media (max-width: $breakpoint-small) {
      border-right: none;
      border-bottom: $line;
      padding-bottom: 1rem;
      padding-right: 1rem;
    }

    p {
      margin-bottom: 1rem;
      font-size: 0.8rem;
    }

    &:last-of-type {
      border-right: none;
    }

    ul {
      margin-bottom: 2rem;
    }
  }
}

.benefits-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: column nowrap;
  gap: 1rem;

  .benefit {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row wrap;
    gap: 1rem;
    border-bottom: $line;
    padding-bottom: 1rem;
    width: 100%;

    &:last-of-type {
      border-bottom: none;
    }

    .material-symbols-outlined {
      height: 40px;
      width: 48px;
      font-size: 48px;
      color: $secondary;
      margin-bottom: 10px;
      display: inline-block;
    }
  }
}

.certification {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
  gap: 1rem;
  text-align: right;

  img {
    max-width: 100px;
  }

  @media (max-width: $breakpoint-small) {
    flex-flow: column-reverse nowrap;
  }
}

.background-image {
  background-color: $contrast;
  background-image: url(/assets/images/header-background-1.jpg);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
}

section.blog-post {
  img {
    width: 100%;
    height: 480px;
    aspect-ratio: 1;
    object-fit: cover;
    margin: 2rem 0;
  }

  p {
    margin-bottom: 1rem !important;
  }
}

.blog-posts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
  gap: 1rem;

  & > a {
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    gap: 1rem;
    border-bottom: $line;
    padding: 2rem;
    background-color: rgba(white, 0.08);
    backdrop-filter: blur(16px);
    color: $white;
    text-align: left;

    &:hover {
      background-color: rgba(white, 0.15);
    }

    img {
      width: 100%;
      height: 160px;
      aspect-ratio: 1;
      object-fit: cover;
    }
  }
}
